@import 'bootstrap/dist/css/bootstrap'

.navbar
    background-color: #404040 !important

.nav-link
    color: #ffffff !important

.jumbotron
    background-image: asset-url('orange-blog.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 425px

#logo
    color: #ffffff
    float: left
    font-size: 1.7em
    text-transform: uppercase
    letter-spacing: -1px
    font-weight: bold

#home-container
    margin-top: 25px

html,
body
    height: 100%

#page-content
    flex: 1 0 auto
    background-color: lightgray

// pagination styling
.flicker_pagination
    text-align: center
    padding: 0.3em
    cursor: default

    a, .flicker_pagination span, .flicker_pagination em
        padding: 0.2em 0.5em
        border-radius: 5px

    .disabled
        color: #aaaaaa
        // padding: 0.2em 0.5em

    .current
        font-style: normal
        font-weight: bold
        color: #ff0084
        padding: 0.2em 0.5em

    a
        border: 2px solid #fff
        color: #fff
        text-decoration: none

    a:hover, .flicker_pagination a:focus
        border-color: gray
        background-color: #fff
        color: gray

    .page_info
        color: #aaaaaa
        padding-top: 0.8em

    .previous_page, .flicker_pagination .next_page
        border-width: 2px

    .previous_page
        margin-right: 1em

    .next_page
        margin-left: 1em
